// 默认样式 start
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
    margin: 0;
    padding: 0;
}



address,
cite,
dfn,
em,
var {
    font-style: normal;
}

code,
kbd,
pre,
samp {
    font-family: couriernew, courier, monospace;
}

small {
    font-size: 12px;
}

ul,
ol {
    list-style: none;
}

a {
    color: #f58a00;
    font-size: 12px;
}

a:hover {
    text-decoration: none;
    color: #0d8abf;
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

legend {
    color: #000;
}

fieldset,
img {
    border: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a,
button {
    cursor: pointer;
}

html,
body {
    height: 100%;
}

html {
    box-sizing: border-box;
    font: 14px / 1.42857 "Microsoft YaHei", "微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    // background-color: #eee;
    color: #2c3e50;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}



/* ------------ 公共样式 start ------------ */
// 左浮动
.fl {
    float: left;
}

// 右浮动
.fr {
    float: right;
}

// 清除浮动
.clearfix::after,
.clearfix::before {
    display: table;
    content: "";
}

.clearfix::after {
    clear: both;
}


input {
    background: none;
    outline: none;
    border: none;
    caret-color: red; //光标颜色
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.ml10 {
    margin-left: 10px;
}

.ml20 {
    margin-left: 20px;
}

.pl20 {
    padding-left: 20px;
}

.w200 {
    width: 200px;
}


.arrow-green {
    color: #0f990f;
}

.arrow-red {
    color: #f54545;
}

// 多选框
.zk-checkbox:checked {
    background: #00aafe;
}

.zk-checkbox {
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border: solid 1px #dddddd;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin: 0 5px 0 0;
    padding: 0;
    font-size: 30px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    cursor: default;
    -webkit-appearance: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-transition: background-color ease 0.1s;
    transition: background-color ease 0.1s;
}

.zk-checkbox:checked::after {
    content: '';
    top: 10px;
    left: 10px;
    position: absolute;
    background: transparent;
    border: #fff solid 2px;
    border-top: none;
    border-right: none;
    height: 10px;
    width: 16px;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/* *  单选按钮 */
.zk-radio {
    position: relative;
    width: 20px;
    height: 0px;
    top: -8px;
    background-color: #000;
    border-radius: 50%;
}

.zk-radio:before,
.zk-radio:after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 50%;
    transition: 0.3s ease;
}

.zk-radio:before {
    top: 0px;
    left: 0px;
    width: 26px;
    height: 26px;
    background-color: #fff;
    // border: 1px solid #1485FD;
    border: 1px solid #ccc;
}

.zk-radio:after {
    top: 6px;
    left: 6px;
    width: 7px;
    height: 7px;
    background-color: #fff;
}

.zk-radio:checked:after {
    top: 4px;
    left: 4px;
    width: 7px;
    height: 7px;
    background-color: #1485FD;
}

.zk-radio:checked:before {
    border-color: #1485FD;
}

// 单行文字省略
.one-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// 多行文字省略
.ellipsis {
    position: relative;
    box-sizing: border-box;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;

    // 解决padding会显示文字的bug
    &::after {
        position: absolute;
        content: '';
        height: 5px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        background: #fff;
    }
}

// 遮罩层动画
@keyframes showPopup {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes hidePopup {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes showLayer {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100%);
    }
}

@keyframes hideLayer {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

// 变色虚线
.discoloration-line {
    width: 100%;
    height: 3px;
    background-image: repeating-linear-gradient(135deg, #FF3300, #FF3300 5%, #fff 2.5%, #fff 7.5%, #1a73e8 7.5%, #1a73e8 12.5%, #fff 12.5%, #fff 15%);
}

::-webkit-scrollbar {
    //scroll滚动条设置
    width: 0px;
    height: 0px;
    background-color: #fff;
}

// 去掉ios文本框上内阴影
input,
textarea {
    -webkit-appearance: none;
}

// 加载指示器... 
.dot {
    display: inline-block;
    overflow: hidden;
    height: 1em;
    line-height: 1;
    vertical-align: -.25em;

    &::after {
        display: block;
        white-space: pre-wrap;
        content: "...\A..\A.";
        animation: dotloading 3s infinite step-start both;
    }
}

@keyframes dotloading {
    33% {
        transform: translate3d(0, -2em, 0);
    }

    66% {
        transform: translate3d(0, -1em, 0);
    }
}